.container {
  padding: var(--a-spacing-5);
  border-radius: var(--a-border-radius-large);
  background-color: var(--a-deepblue-50);
}

/* Remove portable text extra margin */
.container p {
  margin-top: 0;
}

.navigationContainer {
  display: grid;
  gap: var(--a-spacing-3);
  margin-top: var(--a-spacing-6);
}

.navigationContainer a {
  text-decoration: none;
}

.navigationContainer a button {
  width: 100%;
}

@media screen and (min-width: 860px) {
  .navigationContainer {
    grid-template-columns: 1fr 1fr;
  }
}
