.timelineItem {
  display: flex;
  margin-bottom: 8px;
}

.timelineItem dl {
  margin: 0;
}

.timelineItem dt {
  font-size: var(--a-font-size-large);
  font-weight: var(--a-font-weight-bold);
  letter-spacing: 0;
  line-height: var(--a-font-line-height-large);
  margin: 0;
}

.timelineItem dd {
  margin-left: 0;
}

.iconWrapper {
  width: 34px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.iconWrapper:after {
  content: "";
  width: 2px;
  margin-top: 8px;
  background-color: var(--a-gray-500);
  height: 100%;
}

.icon {
  width: 24px;
  height: 24px;
}
